{% extends 'login/base.html' %}
{% block content %}
<style>
  body{
    background-color: rgb(187, 186, 226);
  }
</style>
<div class="container" style="margin-top: 50px;">
    <div class="row">
      <div class="card" style="width: 22rem; margin-right: 2%;">
        <img src='/static/bleach.jpg/' class="card-img"
          alt="...">
        <div class="card-body">
          <h5 class="card-title">Bleach</h5>
          <p class="card-text">Ichigo Kurosaki  manga series written
             and illustrated by Masashi Kishimoto. It tells the story of Naruto Uzumaki, a young 
             ninja who seeks to gain recognition from his peers and also dreams of becoming the Hokage, 
             the leader of his village.</p>
          <p class="card-text"><small class="text-muted">Last updated 1 hour ago</small></p>
          <a href="https://www.youtube.com/watch?v=2aoTQP9ub34" class="btn btn-primary">Watch</a>
        </div>
      </div>
      <div class="card" style="width: 22rem; margin-right: 2%;">
        <img src='/static/naruto.jpg/' class="card-img" alt="...">
        <div class="card-body">
          <h5 class="card-title">Naruto</h5>
          <p class="card-text">Naruto is a Japanese manga series written and illustrated by Masashi Kishimoto. It tells
            the story of Naruto Uzumaki, a young ninja who seeks to gain recognition from his peers and also dreams of
            becoming the Hokage, the leader of his village.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 days ago</small></p>
          <a href="https://www.youtube.com/watch?v=2aoTQP9ub34" class="btn btn-primary">Watch</a>
        </div>
      </div>
      <div class="card" style="width: 22rem; margin-right: 2%;">
        <img src='/static/luffy.jpg/' class="card-img" alt="...">
        <div class="card-body">
          <h5 class="card-title">One Piece</h5>
          <p class="card-text">One Piece is a Japanese manga series written and illustrated by Eiichiro Oda. It has been
            serialized in Shueisha's Weekly Shōnen Jump magazine since July 22, 1997, and has been collected into 95
            tankōbon volumes</p>
          <p class="card-text"><small class="text-muted">Last updated 10 days ago</small></p>
          <a href="https://www.youtube.com/watch?v=2aoTQP9ub34" class="btn btn-primary">Watch</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="margin-top: 50px;">
    <div class="row">
      <div class="card" style="width: 22rem; margin-right: 2%;">
        <img src='/static/kaneki.jpg/' class="card-img" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tokyo Ghoul</h5>
          <p class="card-text">Tokyo Ghoul is a Japanese dark fantasy manga series written and illustrated by Sui Ishida.
            It was serialized in Shueisha's seinen manga magazine Weekly Young Jump between September 2011 and September
            2014</p>
          <p class="card-text"><small class="text-muted">Last updated 3 days ago</small></p>
          <a href="https://www.youtube.com/watch?v=79LHxkJE3fg" class="btn btn-primary">Watch</a>
        </div>
      </div>
      <div class="card" style="width: 22rem; margin-right: 2%;">
        <img src='/static/one punch man.jpg./' class="card-img" alt="...">
        <div class="card-body">
          <h5 class="card-title">One Punch Man</h5>
          <p class="card-text">One-Punch Man is a Japanese superhero webcomic created by the artist One in early 2009. It
            has a manga adaptation illustrated by Yusuke Murata, as well as an anime adaptation aswell. </p>
          <p class="card-text"><small class="text-muted">Last updated 1 day ago</small></p>
          <a href="https://www.youtube.com/watch?v=atxYe-nOa9w" class="btn btn-primary">Watch</a>
        </div>
      </div>
      <div class="card" style="width: 22rem; margin-right: 2%;">
        <img src='/static/eren.jpg./'class="card-img" alt="...">
        <div class="card-body">
          <h5 class="card-title">Attack on Titan</h5>
          <p class="card-text">Attack on Titan One-Punch Man is a Japanese superhero webcomic created by the artist One in early 2009.
          It has a manga adaptation illustrated by Yusuke Murata, as well as an anime adaptation</p>
          <p class="card-text"><small class="text-muted">Last updated 30 mins ago</small></p>
          <a href="https://www.youtube.com/watch?v=CID-sYQNCew" class="btn btn-primary">Watch</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="margin-top: 50px;margin-bottom: 100px;">
    <div class="row">
      <div class="card" style="width: 22rem; margin-right: 2%;">
        <img src='/static/beserker.jpg./'class="card-img" alt="...">
        <div class="card-body">
          <h5 class="card-title">Fate/Zero</h5>
          <p class="card-text">Fate/Zero is a Japanese light novel written by Gen Urobuchi, illustrated by Takashi
            Takeuchi, and is a prequel to all routes in Type-Moon's visual novel, Fate/stay night.The series has been 
            collected into twenty tankōbon volumes as of February 2019.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 hours mins ago</small></p>
          <a href="https://www.youtube.com/watch?v=6g9_P2_08DA" class="btn btn-primary">Watch</a>
        </div>
      </div>
      <div class="card" style="width: 22rem; margin-right: 2%;">
        <img
          src='/static/yato.jpg./'
          class="card-img" alt="...">
        <div class="card-body">
          <h5 class="card-title">Noragami</h5>
          <p class="card-text">Noragami is a Japanese manga series written and illustrated by Adachitoka. It began
            serialization in Kodansha's Monthly Shōnen Magazine in January 2011's issue. The series has been collected
            into twenty tankōbon volumes as of February 2019..</p>
          <p class="card-text"><small class="text-muted">Last updated 3 months ago</small></p>
          <a href="https://www.youtube.com/watch?v=7CYL46P6FUo" class="btn btn-primary">Watch</a>
        </div>
      </div>
      <div class="card" style="width: 22rem; margin-right: 2%;">
        <img src='/static/killua.jpg./' class="card-img" alt="...">
        <div class="card-body">
          <h5 class="card-title">Hunter × Hunter</h5>
          <p class="card-text">Hunter × Hunter is a Japanese manga series written and illustrated by Yoshihiro Togashi. It
            has been serialized in Weekly Shōnen Jump magazine since March 16, 1998, although the manga has frequently
            gone on extended hiatuses since 2006. </p>
          <p class="card-text"><small class="text-muted">Last updated 3 hours ago</small></p>
          <a href="https://www.youtube.com/watch?v=BAYc99piR6g" class="btn btn-primary">Watch</a>
        </div>
      </div>
    </div>
  </div>      
<section>
{% if error %}
{{error}}
{%endif%}
<form action= "{% url 'addcomment' %} " method="post">
  {%csrf_token%}
    <!-- <div>
    <textarea name="comments" id="comments" style="font-family:sans-serif;font-size:1.2em;">
    </textarea>
    </div> -->
    <!-- {%csrf_token%}
    <input type="submit" value="Submit"> -->
{% if user.is_authenticated %}
<div
    class="container height-100 d-flex justify-content-center align-items-center"
  >
    <div class="card p-5 mb-5">
     
      <h5>Feedback to the developer !!!!!</h5>
      <textarea
        id="textarea"
        name="comments"
        placeholder="Add your comment"
        class="form-control"
      >
      </textarea>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-right">
            
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="button" class="btn btn-warning">Cancell</button>
          </div>
          <div class="panel-heading">
            {% for comment in comments %}
            <p class="card-text" style="color: red;">{{comment.message}}</p> 
            <p class="card-text">{{comment.prediction}}</p>
            {%endfor%} 
          </div>
        </div>
      </div>
    </div>
</div>
{% endif %}
</form>
</section>
{% endblock %}